<!DOCTYPE html>
<html>
    <% include ../partials/head %>
    <body>
        <% include ../partials/admin-header %>
        <section class="page-wrap">
            <% if (message.length > 0) { message = JSON.parse(message); %>
                <script>
                    swal('<%= message.title %>', '<%= message.message %>', '<%= message.type %>');
                </script>
            <% } %>
            <div class="card card-list margin clearfix">
                <ul class="list">
                    <li class="list-item text-left">
                        <h2 class="float-left">Arquivos pendentes</h2>
                        <div class="float-right">
                            <button class="button normal hover-shadow">
                                Aprovar todos<i class="fa fa-check fa-fw"></i>
                            </button>

                            <button class="button red hover-shadow">
                                Reprovar todos<i class="fa fa-close fa-fw"></i>
                            </button>
                        </div>
                    </li>
                    <% for(var i=0; i < uploads.length; i++) { %>
                        <li class="list-item text-left">
                            <div class="float-left">
                                <%= uploads[i].tipo[0].toUpperCase() + uploads[i].tipo.slice(1) + ' ' + ((uploads[i].substitutiva) ? 'Substitutiva' : '') %>
                                <%= uploads[i].numero %> de <%= uploads[i].materia.nome %> por <%= uploads[i].professor.nome %>
                                <br>
                                <%= uploads[i].ano + '/' + uploads[i].semestre %>
                                <br>
                                Upload feito por <%= uploads[i].usuario.nome%> (@<%= uploads[i].usuario.username %>)
                            </div>
                            <div class="float-right">
                                <button onclick="location.href='/admin/uploads/aprovar/<%= uploads[i]._id %>'" class="button normal hover-shadow">
                                    Aprovar<i class="fa fa-check fa-fw"></i>
                                </button>

                                <button onclick="location.href='/admin/uploads/<%= uploads[i]._id %>'" class="button darker hover-shadow">
                                    Visualizar e editar<i class="fa fa-eye fa-fw"></i>
                                </button>

                                <button onclick="location.href='/admin/uploads/reprovar/<%= uploads[i]._id %>'" class="button red hover-shadow">
                                    Reprovar<i class="fa fa-close fa-fw"></i>
                                </button>
                            </div>
                        </li>
                    <% } %>
                    <% if(uploads.length == 0) { %>
                        <li>
                            Não há uploads pendentes.
                        </li>
                    <% } %>
                </ul>
            </div>
        </section>
        <% include ../partials/footer %>
    </body>
</html>
