<!DOCTYPE html>
<html>
    <% include partials/head %>
    <body>
        <% include partials/basic-header %>

        <% if (message.length > 0) { message = JSON.parse(message); %>
            <script>
                swal('<%= message.title %>', '<%= message.message %>', '<%= message.type %>');
            </script>
        <% } %>

        <section class="card margin clearfix">
            <h2><%= user.nome %> - @<%= user.username %></h2>
            <h4><% if (user.verificado) { %>
                Conta verificada
                <% } else {  %>
                Conta não verificada
                <% } %>
            </h4>
            <% if (user.admin || user.moderador) { %>
            <p>
                <% if(user.admin) { %>
                <span>Administrador</span>
                <% } else if(user.moderador) { %>
                <span>Moderador</span>
                <% } %>
            </p>
            <% } %>
            <p>Membro desde <%= user.criado.toLocaleDateString('pt-br') %></p>
            <form method="post">
                <input type="password" placeholder="Senha atual" name="oldpassword" required>
                <br>
                <input type="password" placeholder="Nova senha" name="newpassword" required>
                <br>
                <button class="button normal" type="submit">Alterar senha</button>
                <br>
            </form>
        </section>

        <% include partials/footer %>
    </body>
</html>
