<!DOCTYPE html>
<html>
    <% include partials/head %>
    <body>
        <% include partials/basic-header %>

        <section class="margin page-wrap card">
            <h1>Você acaba de enviar: </h1>
            <div class="flex no-wrap space-around stretch">
                <div class="half">
                    <img src="<%= arquivo.arquivo %>" style="width:100%">
                </div>
                <div>
                    <h3>Informações</h3>
                    <%= materia %> - <%= professor %>
                    <br>
                    <%= arquivo.tipo[0].toUpperCase() +  arquivo.tipo.slice(1) %>
                    <%= (arquivo.substitutiva) ? 'Substitutiva' : ''%>
                    <%= arquivo.numero %> - <%= arquivo.ano %>/<%= arquivo.semestre %>
                    <h3>As informações estão corretas?</h3>
                    <a href="/upload" class="button normal">Confirmar</a>
                    <a href="/upload/cancel/<%= arquivo._id %>" class="button red">Cancelar</a>
                </div>
            </div>
        </section>

        <% include partials/footer %>
    </body>
</html>
